* {
  border: 1px solid black;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerlink {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 0 1rem;
}

.btn {
  background-image: url("../Assets/Pizza.jpg");
  height: 50em;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.pizza-button {
  font-size: 25px;
  padding: 0 1rem;
  height: 2em;
  width: 7em;
  background-color: rgba(255, 255, 255, 0.582);
}
